.ABOUT {
    height: 300px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
  }

.ABOUTcontain {
    color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 30px;
    text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 1000px;
	height: 300px;
}