.topnav {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 99%;
  top: 10px;
  z-index: 99;
}

.topnav-left {
  float: left;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 16px;
  border-radius: 4px;
}

.topnav a:hover {
  background: #49b800;
  color: #000000;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

.topnav .toplogo2 {
  align-items: center;
  transition: 0.4s;
}

.discord {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  
}

.discord:hover {
  opacity: 0.7;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-instagram, .discord{
  color: #FFF;
    text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -webkit-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -moz-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -o-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
}

.mobilenav {
  font-size: 0;
}

/*--------------*/ /*--------------*/ /*--------------*/ /*--------------*/

/*FOR PHONE*/
@media only screen and (max-width: 380px), (max-width: 820px) {
  .topnav {
    display: none;
  }

  .mobinav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    text-decoration: none;
    position:fixed;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 2;
  }
  
  ul,li{
    margin: 0;
    padding: 0;
  }
  .menu{
    z-index:1;
  }

  .menu a {
    display: flex;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 11px;
    text-align: center;
  }
  .menu li{
    list-style:none;
    background: rgb(21, 51, 29);
    color: #FFF;
    width:100px;
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    transition: all .5s ease-in-out;
    
  }
  
  .menu li:nth-child(odd){
    
    transform-origin: top;
    transform: perspective(350px) rotateX(-90deg);
  }
  
  .menu li:nth-child(even){
     margin-top:-65px;
    transform-origin: bottom;
    transform: perspective(350px) rotateX(90deg);
  }
  
  .menu {
    
    transition: all .5s ease-in-out;
    transform-origin: 50% 0%;
    transform: perspective(350px) rotateX(-90deg);
  }
  
  .hov:hover .menu {
    
    transform-origin: top;
    transform: perspective(350px) rotateX(0deg);
  }
  
  .hov:hover li:nth-child(odd){
    transform-origin: top;
    transform: perspective(350px) rotateX(0deg);
    margin-top:0;
  }
  
  .hov:hover li:nth-child(even){
    transform-origin: bottom;
    transform: perspective(350px) rotateX(0deg);
     margin-top:0;
  }
  
  .menu li:first-child{
    margin-top:0;
  }
  
  .hov{
    border-radius: 50px;
    position:relative;
    height: 40px;
    width:40px;
    background: green;
    color: white;
    font-size: 25px;
    font-family: Helvetica;
    font-weight:bold;
    text-align: center;
    line-height: 40px;
    list-style:none;
    z-index:2;
    text-decoration: none;
  }
}