.BORDER {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
	width: 400px;
    margin-bottom: -50px;
  }

/*ALL*/
.COMMON, .RARE, .MYSTIQUE, .LEGENDARY {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.COMMON .COMMONphoto, .RARE .RAREphoto, .MYSTIQUE .MYSTIQUEphoto, .LEGENDARY .LEGENDARYphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.COMMON .COMMONphoto img, .RARE .RAREphoto img, .MYSTIQUE .MYSTIQUEphoto img, .LEGENDARY .LEGENDARYphoto img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.COMMON .COMMONdesc, .RARE .RAREdesc, .MYSTIQUE .MYSTIQUEdesc, .LEGENDARY .LEGENDARYdesc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    float: right;
    z-index: 222;
    padding: 40px;
    max-width: 350px;
    transform: translate(30px, -30px);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Mono', monospace;
}

.titlecommon, .RAREtitle, .MYSTIQUEtitle, .LEGENDARYtitle {
    float: left;
    padding: 5px;
    padding-left: 30px;
    height: 120px;
    width: 220px;
}

/*FOR PHONE*/
@media only screen and (max-width: 380px), (max-width: 820px){
    .BORDER {
        height: 200px;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		display: block;
      }

    .titlecommon, .RAREtitle, .MYSTIQUEtitle, .LEGENDARYtitle {
        display: block;
        float: center;
        padding: 5px;
        padding-left: 1px;
        height: 70px;
        width: 140px;
        margin-bottom: -40px;
    }

    .COMMON, .RARE, .MYSTIQUE, .LEGENDARY {
        height: 300px;
        width: 320px;
    }

    .COMMON .COMMONphoto, .RARE .RAREphoto, .MYSTIQUE .MYSTIQUEphoto, .LEGENDARY .LEGENDARYphoto {
        width: 310px;
        height: 180px;
        margin-bottom: 60px;
    }

    .COMMON .COMMONphoto img, .RARE .RAREphoto img, .MYSTIQUE .MYSTIQUEphoto img, .LEGENDARY .LEGENDARYphoto img {
        top: 0;
        left: 0;
        width: 300px;
        height: 200px;
    }

    .COMMON .COMMONdesc, .RARE .RAREdesc, .MYSTIQUE .MYSTIQUEdesc, .LEGENDARY .LEGENDARYdesc {
        margin-left: -300px;
        margin-bottom: -350px;
        font-size: 11px;
        padding: 40px;
        width: 330px;
        transform: translate(30px, -30px);
        color: rgb(255, 255, 255);
        z-index: 1;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    span {
        display: block;
    }
}
